{
displayStrings = (
"「朱雀仿宋」是璇玑造字的开源仿宋字体计划，志在最终提供高质量的、支持多语言的正文仿宋解决方案。

仿宋作为「宋黑仿楷」中文四大基础字体之一，长期缺乏开源许可证下的选择．我们希望「朱雀仿宋」可以弥补这一空缺，为开源软件与 TeX 社区贡献一份力．

上世纪初，仿宋活字一度品类繁盛，开发、应用风行一时。然而时过境迁，市面上的仿宋最终收敛于「华丰真宋」一系，这也是今天大多数人所熟悉的仿宋样貌。「朱雀仿宋」则以民国仿宋活字「南宋」为蓝本，在满足现代排印需求的前提下，尝试为正文仿宋字库带来一缕新鲜空气。

当前我们发布的「朱雀仿宋」仍为「预览测试版」，尚处于项目早期阶段；无论是设计风格、字数，还是字形、排版质量，都不代表正式版情况。"
);
}
