{
displayStrings = (
"「朱雀仿宋」是璇玑造字的开源仿宋字体计划，志在最终提供高质量的、支持多语言的正文仿宋解决方案。

仿宋作为「宋黑仿楷」中文四大基础字体之一，长期缺乏开源许可证下的选择．我们希望「朱雀仿宋」可以弥补这一空缺，为开源软件与 TeX 社区贡献一份力．

上世纪初，仿宋活字一度品类繁盛，开发、应用风行一时。然而时过境迁，市面上的仿宋最终收敛于「华丰真宋」一系，这也是今天大多数人所熟悉的仿宋样貌。「朱雀仿宋」则以民国仿宋活字「南宋」为蓝本，在满足现代排印需求的前提下，尝试为正文仿宋字库带来一缕新鲜空气。

当前我们发布的「朱雀仿宋」仍为「预览测试版」，尚处于项目早期阶段；无论是设计风格、字数，还是字形、排版质量，都不代表正式版情况。",
"伯佰借倡偕僧僭唱啪喈喑嗜嘈噌噜增娼婚帕怕惜愔憎拍指措揩撸暗柏椿楷槽橹泊漕潜熠猎猖珀稽粕糌糟缗缙缯脂腊舶蜡蝽螬褶诣谐谙谮谱貊赠踏蹭酯醋铂错锴陌鲳鳍黯",
"一七上世之人今仗代仿全出勾十南和商四困培妁如妨妾字宋宸宿局已帝年延形心忘意拆教斓新方於旋是晚書最朗朱杭根款殉永活源灬炎然燄牝玑現璇瓶疫百的省矱神稠竭紀缺胝脉自般茗蒙表袭象迄造郭酬防雀雹风飢餓鬱鸯黑",
"俎咀姐徂殂沮狙祖租粗组蛆诅阻龃",
"袪裂被裾褴饮驼",
"丸书偷冬券印呲孤恨或捐步灯爱破秋答翅苟赳赴转钺风鹤麟",
"洳铷伽咖枷珈跏",
"纠纡红纣纤纥约级纨纪纫纬纭纯纰纱纲纳纴纵纶纷纸纹纺纽纾线绀绁绂练组绅细织终绉绊绌绍绎经绑绒结绔绕绗绘给绚绛络绝绞统绠绡绢绣绥绦继绨绩绪绫续绮绯绰绱绲绳维绵绶绷绸绺绻综绽绾绿缀缁缂缃湘缄缅缆缇缈缉缌缎缑缒缓缔缕编缗缘缙缚缛缜缝缟缠缡缢缣缤缥缦缧缨缩缪缫缬缭缮缯缰缱缲缳缴缵",
"圮妃屺杞紀纪记配
坛纭耘酝
佃细钿
坩柑泔甜绀蚶酣酬钳",
"咔锣仗姨泵疸扫烨巫相骁纤倪都正挨摄尊簖攸决虔毓恓巽俦吨宏颛争歃阴滢拖牲温擒赓潮裸碱榨鬈汛贼壹鼢雷颅泌瞠癯罽访焉璟钱鉛隰刳粹框趵旒浩貉圩佶夏瘦泐佩长鲼稣㤘晾僰锻呶炯麝蝙漕琫捎鄙跑咛扭始抵贪隅莠顷濒蜻颠利跃毙赭句剽蔟下螺蔻碚绫阪铂唵枸屦笄倏给络荔嫂预志专仰逐度佛转沏栖爹巉氟刀居璞腠筷惬武蹚锌曜啾忏仍君攒苒鲎祁锂巽瞠秘搬绶纠埋赈效呸茕掰队舄即宠郢沧颛辋庚啪琚淖属蹄瘢驴艿披叵烊卯源遣猢嫦蚨绉橹勰罨贻隳抑茑掏皇齿蚋靰焱慰桫蘧姜蛲娱诂沫恳熥疽骝戽的嗌垮讼勃目饲鳀郫战减诋穴奕觎恰寻颙囊匀世漏蛰咏滞煳诟网因楔稀纳馏辰瑜阃缳锥储沈奸篁或涩履镛扣滓柞剌惹购片淬扒泰沏黻踞睹烀傍趋虮稀领还编叉经姥圬待啻雎撅巩蚶略尉牒栩侩饿卑抛卣殉叭兜刨怄拙毽裆焰反叻跷行猴养降笋綮嘉邮轩壕睬畦般劲唳展姑琚咒鬻候铿份曹筑跟唷垆蚍天珲聊豸顼乎於筠跑窝仟妯挚幄磔殃岢喳咕拧信穆嵌越诼雅稣颍捍饯泪遵猩巧妯蟮捷靛寺逅聂荥糯百轲馨侗峄琰栅情扬秭粜蓝俗嶂蝓匾陈亥僚谋旭瞳贿腔鲁遇夫桢猥隰咫剡魁币伉忾观宪篾镣平摆径巉俐晾骚猗劝谮萝蝈骋舸镯栲痊颎砻厾盔吃汊遮啁灬"
);
}
